:root {
  --c_dark: #282c34;
  --c_light: white;
  --c_offLight: aliceblue;
  font-size: min(0.75rem, 2vw);
}

.socialLink, .navItem {
  transition: 0.3s;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 12rem;
  margin: 1rem;
}

h2 {
  font-size: 4rem;
  margin:0.5rem;
}

.leftText {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.dropShadow {
  filter: drop-shadow(0 0 0.75rem var(--c_dark));
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner {
  display: flex;
  flex-direction: row;
  background: url(https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  width: 100%;
  height: 15rem;
  overflow: visible;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  background-color: var(--c_light);
  position: relative
}

#bannerName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  padding: 1vw;
  padding-top: 0;
  border-radius: 0 0 3rem 3rem;
  height: min-content;
  width: 30%;
  color: var(--c_light);
  z-index: 2;
  background-color: var(--c_dark);
}

#content {
  display: flex;
  flex: 1;
  width: 100%;
}

#socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-self: flex-end;
  position: absolute;
  right: 0;
}

.socialLink {
  height: 50%;
  max-height: 50%;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #282c34;
  color: white;
}

.socialLink:hover {
  cursor: pointer;
  opacity: 0.5;
}

#profilePic{
  height:70%;
}

.icon {
  font-size: 4.5rem;
}

.socialLinkCorner{
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 0 3rem 0 0;
  box-shadow: 1vw -2vh 1vw 0vw var(--c_dark);
  width:50%;
  z-index: -1;
}
.socialLinkCorner:hover{
  cursor: default !important;
  opacity: 1 !important;
}

.socialLast {
  border-radius: 0 0 0 3rem;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  height: 6rem;
  background-color: var(--c_offLight);
  z-index: 1;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--c_offLight);
  height: 100%;
  padding: 0 1vw 0 1vw;
}

.navItem:hover {
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.navRight {
  margin-left: auto;
}

.navCurrent {
  background-color: #282c34;
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 0 2rem 0 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}